@using CarRentalManagement.Extensions
@model IEnumerable<CarRentalManagement.Models.ViewModel.ContractManagement.ListContractViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

    string controller = Context.GetRouteValue("controller")!.ToString()!;
    string area = AreaManager.Admin;
}

<div class="container-fluid" style="margin-top: 20px">
    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
        <caption>@TempData["Message"]</caption>
        <thead>
        <tr>
            <th>
                <input type="checkbox" id="select-all"/>
            </th>
            <th>@Html.DisplayNameFor(x => x.Id)</th>
            <th>@Html.DisplayNameFor(x => x.CreatedAt)</th>
            <th>@Html.DisplayNameFor(x => x.RentRequestId)</th>
            <th>@Html.DisplayNameFor(x => x.Total)</th>
            <th>@Html.DisplayNameFor(x => x.Prepay)</th>
            <th>@Html.DisplayNameFor(x => x.Status)</th>
            <th>Thanh lý</th>
            <th>Hủy</th>
            <th>Xoá</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" class="checkbox" value="@item.Id"/>
                </td>
                <td>
                    <a asp-area="@area" asp-controller="@controller" asp-action="Preview" asp-route-id="@item.Id">
                        @item.Id
                    </a>
                </td>
                <td>@Html.DisplayFor(x => item.CreatedAt)</td>
                <td>
                    <a asp-area="Admin" asp-controller="RentRequestManagement" asp-action="Edit" asp-route-id="@item.RentRequestId">
                        @item.RentRequestId
                    </a>
                </td>
                <td class="price">@Html.DisplayFor(x => item.Total)</td>
                <td class="price">@Html.DisplayFor(x => item.Prepay)</td>
                <td>@item.Status.GetDescription()</td>
                @if (item.Status != ContractStatusEnum.Finished)
                {
                    <td>
                        <form asp-action="TerminationMinutes" method="post">
                            <input name="@nameof(item.Id)" type="hidden" value="@item.Id"/>
                            <button type="submit" class="btn btn-success">Thanh lý</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="Cancellation" method="post">
                            <input name="@nameof(item.Id)" type="hidden" value="@item.Id"/>
                            <button type="submit" class="btn btn-danger">Hủy hợp đồng</button>
                        </form>
                    </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }
                <td>
                    <a class="confirmDelete" asp-area="@area" asp-controller="@controller" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr id="table-footer" class="d-none">
            <td style="border-top: 1px solid #dee2e6;border-right: none">
                <div style="float: left" class="text-primary">
                    <span id="selected-items"></span>
                    <span>dòng đã chọn</span>
                </div>
            </td>
            <td>
                <i class="fa fa-trash-o" aria-hidden="true" id="remove-all" data-url="@Url.Action("Delete", controller, new { area = area })"></i>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

@section Scripts
{
    <script src="~/js/dt.js" asp-append-version="true"></script>
}