@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CarRentalManagement.Extensions
@using CarRentalManagement.Models.Settings
@using Microsoft.Extensions.Options
@inject IOptions<CompanySettings> CompanySettings
@model CarRentalManagement.Models.ViewModel.InvoiceManagement.PreviewInvoiceViewModel
@{
    ViewBag.Title = "Hoá đơn thanh toán";
    Layout = "_Layout";
}

<div class="container-fluid mr-top-20" xmlns="http://www.w3.org/1999/html">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="contentEdit">
                <div class="text-right">
                    <p>Tên công ty: @CompanySettings.Value.Name - Mã số thuế: @CompanySettings.Value.TaxCode</p>
                    <p>Địa chỉ: @CompanySettings.Value.Address</p>
                    <p>Website: @CompanySettings.Value.Website</p>
                    <p>Email: @CompanySettings.Value.Email</p>
                    <p>Số điện thoại: @CompanySettings.Value.Phone</p>
                </div>
                <hr>
                <p style="text-align:center">
                    <strong>HOÁ ĐƠN THANH TOÁN</strong>
                </p>
                <p style="text-align:center">
                    <em>(Số: @Model.Id)</em>
                </p>
                <p style="text-align:center">
                    <em>Ngày: @Model.CreatedAt.ToString(Constant.DateFormat)</em>
                </p>
                <p style="text-align:center">
                    <em>Số hợp đồng: @Model.ContractId</em>
                </p>
                <br>
                <p><strong>Thông tin khách hàng</strong></p>
                <p>Họ và tên: @Model.CustomerDetail.FullName</p>
                <p>Sinh ngày: @Model.CustomerDetail.BirthDate.ToString(Constant.DateFormat)</p>
                <p>CMND/Thẻ CCCD/Hộ chiếu số: @Model.CustomerDetail.IDCard - Cấp ngày: @Model.CustomerDetail.DateOfIssue.ToString(Constant.DateFormat) - Nơi cấp: @Model.CustomerDetail.PlaceOfIssue</p>
                <p>Địa chỉ thường trú: @Model.CustomerDetail.Domicile</p>
                <p>Địa chỉ tạm trú: @Model.CustomerDetail.TempAccommodation</p>
                <div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.InvoiceDetails[0].CarId)</th>
                            <th>@Html.DisplayNameFor(x => x.InvoiceDetails[0].RentalDate)</th>
                            <th>@Html.DisplayNameFor(x => x.InvoiceDetails[0].ReturnedDate)</th>
                            <th>@Html.DisplayNameFor(x => x.InvoiceDetails[0].Amount)</th>
                            <th>@Html.DisplayNameFor(x => x.InvoiceDetails[0].RentalMethod)</th>
                            <th>@Html.DisplayNameFor(x => x.InvoiceDetails[0].UnitPrice)</th>
                            <th>@Html.DisplayNameFor(x => x.InvoiceDetails[0].Price)</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.InvoiceDetails)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x => item.CarId)</td>
                                <td>@Html.DisplayFor(x => item.RentalDate)</td>
                                <td>@Html.DisplayFor(x => item.ReturnedDate)</td>
                                <td>@Html.DisplayFor(x => item.Amount)</td>
                                <td>@item.RentalMethod.GetDescription()</td>
                                <td class="price">@Html.DisplayFor(x => item.UnitPrice)</td>
                                <td class="price">@Html.DisplayFor(x => item.Price)</td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>Tổng số xe thuê: @Model.TotalCarRental</tfoot>
                    </table>
                    <div>
                        <p>Tổng cộng: <span class="price">@Model.Total</span></p>
                        <p>Đưa trước: <span class="price">@Model.Prepay</span></p>
                        <p>Thanh toán: <span class="price">@Model.PayOff</span></p>
                        <p>Còn lại: <span class="price">@Model.Debt</span></p>
                        <p>Hình thức thanh toán: @Model.PayMethodEnum.GetDescription()</p>
                        <p>Nội dung thanh toán: @Model.Content</p>
                    </div>
                </div>
                <table style="border-collapse:collapse;width:100%" width="100%">
                    <tbody>
                    <tr>
                        <td style="text-align:center">
                            <p>
                                <strong>Bên bán</strong><strong> </strong>
                            </p>
                        </td>
                        <td style="text-align:center">
                            <p>
                                <strong>Khách hàng</strong>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer text-right">
            <a type="button" class="btn btn-default" asp-action="Index">Thoát</a>
            <button type="button" class="btn btn-primary print" data-contentId="contentEdit">In</button>
        </div>
    </div>
</div>