@using CarRentalManagement.Models.Settings
@using Microsoft.Extensions.Options
@inject IOptions<CompanySettings> CompanySettings
@model CarRentalManagement.Models.ViewModel.InvoiceManagement.PreviewInvoiceViewModel
@{
    ViewBag.Title = "Hoá đơn thanh toán";
    Layout = "_Layout";
}

<div class="container-fluid mr-top-20" xmlns="http://www.w3.org/1999/html">
    <div class="panel panel-primary">
        <div class="panel-heading">HÓA ĐƠN GIÁ TRỊ GIA TĂNG</div>
        <div class="panel-body">
            <div id="contentEdit">
                <div class="text-right">
                    <p>Tên công ty: @CompanySettings.Value.Name - Mã số thuế: @CompanySettings.Value.TaxCode</p>
                    <p>Địa chỉ: @CompanySettings.Value.Address</p>
                    <p>Website: @CompanySettings.Value.Website</p>
                    <p>Email: @CompanySettings.Value.Email</p>
                    <p>Số điện thoại: @CompanySettings.Value.Phone</p>
                </div>
                <hr>
                <p style="text-align:center">
                    <strong>HÓA ĐƠN GIÁ TRỊ GIA TĂNG</strong>
                    <strong>(VAT INVOICE)</strong>
                </p>
                <p style="text-align:center">
                    <em>(Số: @Model.Id)</em>
                </p>
                <p style="text-align:center">
                    <em>Ngày: @Model.CreatedAt.ToString(Constant.DateFormat)</em>
                </p>
                <p style="text-align:center">
                    <em>Số hợp đồng: @Model.ContractId</em>
                </p>
                <br>
                <p><strong>Thông tin khách hàng</strong></p>
                <p>Họ và tên: @Model.CustomerDetail.FullName</p>
                <p>Sinh ngày: @Model.CustomerDetail.BirthDate.ToString(Constant.DateFormat)</p>
                <p>CMND/Thẻ CCCD/Hộ chiếu số: @Model.CustomerDetail.IDCard - Cấp ngày: @Model.CustomerDetail.DateOfIssue.ToString(Constant.DateFormat) - Nơi cấp: @Model.CustomerDetail.PlaceOfIssue</p>
                <p>Địa chỉ thường trú: @Model.CustomerDetail.Domicile</p>
                <p>Địa chỉ tạm trú: @Model.CustomerDetail.TempAccommodation</p>
                @Html.Raw(Model.Content)
                <p>Phương thức thanh toán: Tiền mặt</p>
                <p>Cộng tiền hàng (Sub total): <span class="price">@Model.UnitPrice</span></p>
                <p>Thuế suất GTGT (VAT rate): @Model.Vat %</p>
                <p>Tổng cộng tiền thanh toán (Total payment): <span class="price">@Model.TotalPriceWithVat %</span></p>
                <p>Số tiền viết bằng chữ: <span class="price">@Model.Money</span></p>
                <table style="border-collapse:collapse;width:100%" width="100%">
                    <tbody>
                    <tr>
                        <td style="text-align:center">
                            <p>
                                <strong>Bên bán</strong><strong> </strong>
                            </p>
                        </td>
                        <td style="text-align:center">
                            <p>
                                <strong>Khách hàng</strong>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer text-right">
            <a type="button" class="btn btn-default" asp-action="Index">Thoát</a>
            <button type="button" class="btn btn-primary print" data-contentId="contentEdit">In</button>
        </div>
    </div>
</div>