@using CarRentalManagement.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CarRentalManagement.Models.ViewModel.Customer.CustomerInformationViewModel
@{
    ViewBag.Title = "Chỉnh sửa thông tin cá nhân";
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">@ViewBag.Title</div>
                <div class="panel-body">
                    <form asp-action="EditInformation" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="well well-sm text-danger">@TempData["Message"]</div>
                                <div class="panel panel-info">
                                    <div class="panel-heading">Thông tin cá nhân</div>
                                    <div class="panel-body">
                                        <input asp-for="ReturnUrl"/>
                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="FirstName" class="control-label"></label>
                                            <input asp-for="FirstName" class="form-control">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </fieldset>

                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="LastName" class="control-label"></label>
                                            <input asp-for="LastName" class="form-control">
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </fieldset>

                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="SexEnum" class="control-label"></label>
                                            <select class="form-control" asp-for="SexEnum" asp-items="SexEnum.Male.ToSelectList()"></select>
                                            <span asp-validation-for="SexEnum" class="text-danger"></span>
                                        </fieldset>

                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="BirthDate" class="control-label"></label>
                                            <input asp-for="BirthDate" class="form-control">
                                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                                        </fieldset>

                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="Phone" class="control-label"></label>
                                            <input asp-for="Phone" class="form-control">
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                        </fieldset>

                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </fieldset>

                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="Domicile" class="control-label"></label>
                                            <input asp-for="Domicile" class="form-control">
                                            <span asp-validation-for="Domicile" class="text-danger"></span>
                                        </fieldset>

                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="TempAccommodation" class="control-label"></label>
                                            <input asp-for="TempAccommodation" class="form-control">
                                            <span asp-validation-for="TempAccommodation" class="text-danger"></span>
                                        </fieldset>

                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="CurrentAddress" class="control-label"></label>
                                            <input asp-for="CurrentAddress" class="form-control">
                                            <span asp-validation-for="CurrentAddress" class="text-danger"></span>
                                        </fieldset>

                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="Profession" class="control-label"></label>
                                            <input asp-for="Profession" class="form-control">
                                            <span asp-validation-for="Profession" class="text-danger"></span>
                                        </fieldset>

                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="WorkPlace" class="control-label"></label>
                                            <input asp-for="WorkPlace" class="form-control">
                                            <span asp-validation-for="WorkPlace" class="text-danger"></span>
                                        </fieldset>
                                        <div class="row col-md-6 baguetteBox">
                                            <fieldset class="form-floating mb-3">
                                                <label asp-for="Avatar" class="control-label"></label>
                                                <a href="@Url.Content("~")@Model.Avatar">
                                                    <img src="@Model.AvatarThumb" width="100%"/>
                                                </a>
                                                <input asp-for="AvatarFile" type="file" class="form-control">
                                                <input asp-for="Avatar" class="form-control">
                                                <input asp-for="AvatarThumb" class="form-control">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Thông tin đăng nhập</div>
                                    <div class="panel-body">
                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="UserName" class="control-label"></label>
                                            <input asp-for="UserName" class="form-control">
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="panel panel-info">
                                    <div class="panel-heading">Thông tin CCCD gắn chip</div>
                                    <div class="panel-body">
                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="IDCard" class="control-label"></label>
                                            <input asp-for="IDCard" class="form-control">
                                            <span asp-validation-for="IDCard" class="text-danger"></span>
                                        </fieldset>

                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="DateOfIssue" class="control-label"></label>
                                            <input asp-for="DateOfIssue" class="form-control">
                                            <span asp-validation-for="DateOfIssue" class="text-danger"></span>
                                        </fieldset>

                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="PlaceOfIssue" class="control-label"></label>
                                            <input asp-for="PlaceOfIssue" class="form-control">
                                            <span asp-validation-for="PlaceOfIssue" class="text-danger"></span>
                                        </fieldset>

                                        <fieldset class="form-floating mb-3">
                                            <label asp-for="ExpirationDate" class="control-label"></label>
                                            <input asp-for="ExpirationDate" class="form-control">
                                            <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                        </fieldset>

                                        <div class="row baguetteBox">
                                            <div class="col-md-6">
                                                <fieldset class="mb-3">
                                                    <label asp-for="FrontalPhoto" class="control-label"></label>
                                                    <a href="@Url.Content("~")@Model.FrontalPhoto">
                                                        <img src="@Model.FrontalPhotoThumb" width="100%"/>
                                                    </a>
                                                    <input asp-for="FrontalPhotoFile" class="form-control">
                                                    <input asp-for="FrontalPhoto" class="form-control">
                                                    <input asp-for="FrontalPhotoThumb" class="form-control">
                                                    <span asp-validation-for="FrontalPhotoFile" class="text-danger"></span>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6">
                                                <fieldset class="mb-3">
                                                    <label asp-for="RearPhoto" class="control-label"></label>
                                                    <a href="@Url.Content("~")@Model.RearPhoto">
                                                        <img src="@Model.RearPhotoThumb" width="100%"/>
                                                    </a>
                                                    <input asp-for="RearPhotoFile" class="form-control">
                                                    <input asp-for="RearPhoto" class="form-control">
                                                    <input asp-for="RearPhotoThumb" class="form-control">
                                                    <span asp-validation-for="RearPhotoFile" class="text-danger"></span>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="float: right">
                                    <button class="btn btn-default" type="button" id="cancel">Huỷ</button>
                                    <button class="btn btn-primary" type="submit">Cập nhật</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}